body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Poppins', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.normal{
  font-size:  90% !important;
  margin-bottom:  0px !important;
}

.header{
  font-weight: 600 !important;
  font-size:  95% !important;
  margin-bottom:  0px !important;
}

span {
  font-family:  'Poppins' !important;
}