body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Poppins', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.normal{
  font-size:  90% !important;
  margin-bottom:  0px !important;
}
.dd{
  font-size:  0.95rem !important;
}

.header{
  font-weight: 600 !important;
  font-size:  95% !important;
  margin-bottom:  0px !important;
}

span {
  font-family:  'Poppins' !important;
}

a:hover {
  text-decoration: none !important;
}

.state2  {
  background-color: #5F61BD !important;
}
.state3  {
  background-color: #F3661E !important;
}
.state4  {
  background-color: #3CC49F !important;
}

.bg-white2{
  background-color:  #e6e6e6 !important;
}

.xx01{
  border : 1px solid #007bff!important;
  color : #007bff!important;
  font-weight: 600 !important;
}
.xx02{
  border : 1px solid #5F61BD!important;
  color : #5F61BD!important;
  font-weight: 600 !important;
}
.xx03{
  border : 1px solid #F3661E!important;
  color : #F3661E!important;
  font-weight: 600 !important;
}
.xx04{
  border : 1px solid #3CC49F!important;
  color : #3CC49F!important;
  font-weight: 600 !important;
}

.xx05{
  border : 1px solid #1e7e34!important;
  color : #1e7e34!important;
  font-weight: 600 !important;
}

.xx00{
  border : 1px solid #bd2130 !important;
  color : #bd2130!important;
  font-weight: 600 !important;
}